.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Auth-left {
    gap: 2rem;

    > img {
      width: 4rem;
      height: 4rem;
    }

    .WebName {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 3rem;
        background-color: red;

        background-image: var(--buttonBg);

        background-size: 100%;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }

      > h6 {
        font-size: 0.85rem;
      }
    }
  }
}

.infoForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-width: 20rem;

  .infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    padding: 1rem;
    border-radius: 8px;
    flex: 1;
  }

  > div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 100%;
  }

  .infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
  }
}

.authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;

  > div {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .isSignUp {
    color: var(--orange);
    font-size: 13px;
    text-decoration: underline;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .confirm-password {
    color: red;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 10px;
  }
}
